.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-E-d{
  display: flex;
  direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.App-E-b{
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: solid;
  margin-right: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
label{
  font-size: 1.5rem;
  margin-right: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App-E-but{
  background-color: #282c34;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  margin-left: 0.5rem;
}
.App-select{
  width: 10rem;
}
.App-E-T{
  margin-top: 2rem;
}
.App-E-T h3{
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
}
.profile-container{
  align-self: center;
  margin: auto;
  margin-top: 6rem;
  width: 150vh;
  border: 2px solid red;
  border-radius: 20px;
  padding: 2rem;
}
.profile-container h2{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.profile-item label{
  font-size: 1.25rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.5rem;
}
.profile-item input{
  width: 20rem;
  margin-left: 3rem;
  padding: 0.25rem;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 1rem;
}
.p-but{
  background-color: #282c34;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}
.home-p1{
  font-size: 1.2rem;
  margin: 2rem 3rem 2rem 3rem;
  line-height: 2rem;
}
.gets{
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.5rem;
  background: none;
  border: none;
  background-color: aquamarine;
}
.get{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.getsa{
  text-decoration: none;
  color: black;
}
.BL{
 padding: 0 5rem 5rem 5rem;
}
.BL-h{
  text-align: center;
  font-size: 4rem;
}
.BL-input{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
margin-top: 2rem;
margin-bottom: 2rem;
}
.BL-input input{
  width: 15rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}
.BL-list{
  padding: 3rem;
}
.BL-entry{
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: 1.5rem;
  text-align: center;
}
.es{
  color: red;
}
.info {
  padding: 1rem;
}
.info h1, h2 {
  color: #000000;
}

.info h1 {
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
}

.info h2 {
  font-size: 2em;
  text-decoration: underline;
  color: rgb(172, 14, 96);
}

.info p {
  color: #190101;
  line-height: 1.5;
}


.info b {
  font-weight: bold;
}


.info em {
  font-style: italic;
}
.info table {
  border-collapse: collapse;
  width: 50%;
}

.info th, .info td {
  border: 2px solid #000000;
  text-align: left;
  padding: 8px;
}

.info th {
  background-color: #a76890;
  text-align: center;
  font-size: 1.5em;
}

.info tbody tr:nth-child(even) {
  background-color:#e9c7e0;
}
.data{
  color: red;
}
.GM-h{
  text-align: center;
  font-size: 4rem;
}
.GM-g{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}
.GT{
  border: 5px double black;
  padding: 1rem;
  width: 200vh;
  border-radius: 20px;
  margin: 2rem;
}
.GT-I{
  display: flex;
  margin: 1rem;
}
.GT-B{
  margin: 1rem;
}
.GT-P{
  margin: 1rem;
}